{% if page.image.feature %}
	{% assign imageUrl = site.url | append:'/images/' | append: page.image.feature %}
{% elsif page.image.thumbnail %}
	{% assign image = page.image.thumbnail %}
		{% if image contains 'http' %}
			{% assign imageUrl = image %}
		{% else %}
			{% assign imageUrl = site.external_data_url | append: image %}
		{% endif %}
{% else %}
	{% assign imageUrl = site.url | append:'/images/' | append: site.logo %}
{% endif %}
<!-- Twitter Cards -->
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
{% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | strip_html }}"/>{% endif %}
{% if site.owner.twitter %}<meta name="twitter:site" content="@{{ site.owner.twitter }}"/>{% endif %}
{% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter }}"/>{% endif %}
{% if page.image.feature %}<meta name="twitter:card" content="summary_large_image"/>{% else %}<meta name="twitter:card" content="summary"/>{% endif %}
<meta name="twitter:image" content="{{ imageUrl }}"/>
<!-- Open Graph -->
<meta property="og:locale" content="{{ site.locale }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html }}"/>{% endif %}
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}"/>
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:image" content="{{ imageUrl }}" />
<meta property="article:author" content="{{ author.name }}">
{% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}"/>{% endif %}
{% if page.modified %}<meta property="article:modified_time" content="{{ page.modified | date_to_xmlschema }}"/>{% endif %}