{% if include.image %}
<figure>
    <img src="{{ site.url }}/{{ include.image }}" alt="{{ include.image }}" class="center non-selectable"/>
</figure>
{% endif %}

{% if include.level %}
  {% assign level = include.level | plus: 0 %}
  {% assign nextLevel = include.level | plus: 1 %}
{% else %}
  {% assign level = 0 | plus: 0 %}
  {% assign nextLevel = 0 | plus: 1 %}
{% endif %}

{% assign entriesCategory = include.taxonomy %}
{% if entriesCategory %}
  {% assign entries = site.categories[entriesCategory] %}
{% else %}
  {% assign entries = '' | split: '' %}
  {% for postEntry in include.postlist %}
    {% for post in site.posts %}
        {% if post.url contains postEntry.url %}
            {% assign entries = entries | push: post %}
            {% break %}
        {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

<ul class="post-list">
{% for entry in entries %}
  {% assign title = entry.title | markdownify | strip_html %} 
  <li>
    <article>
		<a href="{{ entry.url }}">{{ title }} <span class="entry-date"><time datetime="{{ entry.date | date_to_xmlschema }}">{{ entry.date | date: "%B %d, %Y" }}</time></span></a>
	</article>
    <footer>
      {% if include.taxonomy and entry.categories[nextLevel] %}{% assign subcategory = entry.categories[nextLevel] %}{% else %}{% assign subcategory = entry.categories[level] %}{% endif %}
      <span title="{{ subcategory }} subcategory"><i class="fa fa-edit"></i>&nbsp;<a href="/{{ subcategory }}" title="Posts in {{ subcategory }} category">{{ subcategory }}</a></span>
      <span title="{{ entry.content | number_of_words }} words">{% capture readtime %}{{ entry.content | strip_html | number_of_words | plus:91 | divided_by:150.0 | append:'.' | split:'.' | first }}{% endcapture %}<i class="fa fa-clock-o"></i>&nbsp;{% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. reading</span>
      <span>{% if entry.tags[0] %}<i class="fa fa-tags"></i>&nbsp;{% endif %}{% for tag in entry.tags %}<a href="/tags/#{{ tag }}" title="Posts tagged as {{ tag }}">{{ tag }}</a>{% unless forloop.last %}&nbsp;·&nbsp;{% endunless %}{% endfor %}</span>
      <span class="excerpt">{{ entry.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once | truncatewords:125 }}</span>
    </footer>
  </li>
{% endfor %}
</ul>