<div class="header-box">
<h1>Related posts</h1> 
<ul class="blockGroup-list">
{% for relatedpost in page.relatedposts %}
	{% for post in site.posts %}
		{% if post.url contains relatedpost.url %}
          <li class="simpleblock">
            <div class="postArticle-wrapper">
              <article class="postArticle postArticle--short">
                {% if post.image.feature %}
					{% assign imageUrl = site.url | append:'/images/' | append: post.image.feature %}
                {% elsif page.image.thumbnail %}
                    {% assign imageURLType = page.image.thumbnail | slice: 0 %}
                    {% if imageURLType == "/" %}
                        {% assign imageUrl = site.external_data_url | append: page.image.thumbnail %}
                    {% else %}
                        {% assign imageUrl = 'http://' | append: page.image.thumbnail %}
                    {% endif %}
				{% else %}
					{% assign imageUrl = site.url | append:'/images/' | append: site.logo %}
                {% endif %}
				<a href="{{ post.url }}" target="_blank">
				  <div class="postArticle-image desaturate" style="background-image:url('{{ imageUrl }}')">
				  </div>
				</a>				
                <a class="postArticle-title" href="{{ post.url }}" target="_blank">{{ post.title }}</a>
              </article>
              <div class="block-postMeta">{{ post.date | date: "%B %d, %Y" }}</div>
            </div>
          </li>
			{% break %}
		{% endif %}
	{% endfor %}
{% endfor %}
</ul>
</div>