/* ==========================================================================
   Archive pages
   ========================================================================== */




/*
   Post archive
   ========================================================================== */

.post-list {
  margin: 0;
  padding: 0;
  li  {
    margin-bottom: 2rem;
    @include clearfix;
    list-style-type: none;
      > article {
        font-family: $heading-font;
        @include font-size(22,no,22);
        border-bottom: 1px solid #aaa;
      }
      > footer {
        text-transform: uppercase;
        font-family: $alt-font;
        font-size: 0.85rem;
        margin: 5px 0;
          & > span {
            display: inline-block;
          }
      }
    > a {
      border-bottom-width: 0; /* remove underlines from items in post indexes */
    }
  }

  a > span {
    float: right;
  }

  .entry-date {
    @include font-size(14,no);
    text-transform: uppercase;
    display: none;

    @include media($medium) {
      display: inline;
    }
  }

  /* post excerpt */
  .excerpt {
    display: block;
    float: none;
    font-family: $base-font;
    text-transform: none;
    margin-top: 5px;
    @include font-size(16, no, 20);
  }
}

/*
   Tag archive
   ========================================================================== */

.tag-box {
  font-family: $heading-font;
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  @include clearfix;

  &.inline li {
    float: left;
    @include font-size(16, yes, 12);
    line-height: 1;
    list-style-type: none;
  }

  a {
    padding: 4px 6px;
    margin: 2px;
    background-color: lighten($black, 90);
    @include rounded(4px);
    text-decoration: none;
    &:hover {
      background-color: lighten($black, 80);
    }
    &:after {
      content: none !important;
    }
    span {
      vertical-align: super;
      @include font-size(12);
    }
  }
}