/* ==========================================================================
   Base elements
   ========================================================================== */

/*
   Selections
   ========================================================================== */

::-moz-selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}
::selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}


/*
   Body
   ========================================================================== */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $base-font;
  color: $text-color;
  background-color: $body-color;
}

/*
   Typography
   ========================================================================== */

body {
	font-family: $base-font;
	color: $text-color;
	@include font-size(16);
}

p {
  @include font-size(18,yes,28);
  @media print {
    @include font-size(20,yes,12);
  }
}

ul > li {
  list-style-type: square;
}

ol > li {
  list-style-type: decimal;
}

li {
  @include font-size(18,12,24);
  @media print {
    @include font-size(20,yes,12);
  }
}

/* headings */

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
	@include font-size(36);
}

h2 {
	@include font-size(32);
}

h3 {
	@include font-size(28);
}

h4 {
	@include font-size(24);
}

h5 {
	@include font-size(20);
}

h6 {
	@include font-size(18);
}

/* underlined text */

u,
ins {
	text-decoration: none;
	border-bottom: 1px solid $text-color;
}

/*
   Links
   ========================================================================== */

a {
	text-decoration: none;
	color: $link-color;

	&:visited {
		color: lighten($link-color, 30);
	}

	&:hover {
		color: darken($link-color, 30);
	}

	&:focus {
		//outline: thin dotted;
		color: darken($link-color, 30);
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/*
   Horizontal rules
   ========================================================================== */

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

/*
   Figures and Images
   ========================================================================== */

figure {
  margin-left: -1 * $gutter;
  margin-right: -1 * $gutter;
  outline: none !important;
  // full width figures on small screens
  @include media($medium) {
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }
  @include clearfix;
  img, iframe {
	outline: none !important;
	margin-bottom: 1rem; // + ($doc-line-height / $doc-font-size);
    @include media($large) {
		margin-bottom: 0;
	}
  }
  a {
	outline: none !important;
    img {
      &:hover {
        -webkit-filter: drop-shadow(1px 1px 2px black);
        filter: drop-shadow(1px 1px 2px black);
      }
    }
  }
}

svg:not(:root) {
  overflow: hidden;
}

// Figure captions

figcaption {
    padding-left: 2 * $gutter;
    padding-right: 2 * $gutter;
    font-family: $figcaption-font;
    font-style: italic;
    font-weight: 300;
    @include font-size(15,no,15);
    color: $text-color;
    text-align: center;
    clear: both;
    margin-top: 5px;
    &:before {
      font-family: 'FontAwesome';
      font-style: normal;
      content: "\f030";
      padding-right: 4px;
    }
    @include media($large) {
        position: absolute;
        top: 0px;
        right: -1 * (3 * $column + $gutter);
        padding-top: 5px;
        padding-left: 0;
        padding-right: 0;
        width: (3 * $column);
        text-align: left;
        margin-top: 0;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: lighten($black, 50);
        }
    }
    a {
        text-decoration: none;
    }
}


// Tables
// --------------------------------------------------

table {
  width: 100%;
}


// Blockquotes
// --------------------------------------------------

blockquote {
	font-family: $quote-font;
	//font-style: italic;
	@include font-size(16);
	padding-left: 10px;
	border-left: 2px solid $black;
}

/* for the moment, keep disabled...
blockquote > p:first-child {
    text-indent:-16px;
}
blockquote > p:first-child:before {
    content:"\201C"; 
    line-height:1px; 
    padding-right:.1.8em; 
	font-size: 1.8rem !important;
}
blockquote > p:last-child:after {
    content:"\201D"; 
    line-height:1px; 
    margin-left:-.05em; 
	font-size: 1.8rem !important;
}
*/
//* html blockquote * {text-indent:-6px;} 
/* fix IE6 */

// Code
// --------------------------------------------------

tt, code, kbd, samp, pre {
	font-family: $code-font;
}

p,
li {

	code {
		@include font-size(18);
		font-family: $code-font;
		white-space: nowrap;
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid lighten($black, 90);
		background-color: lighten($black, 95);
		@include rounded(3px);
	}
}

pre {
	@include font-size(16);
	overflow-x: auto;
}


// Global Transition
// ---------------------------------------------------

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, .highlight {
	@include transition(all 0.2s ease);
}