/* ==========================================================================
   Buttons
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 6px 15px;
  @include font-size(20);
  background-color: $black;
  color: $white;
  border: 1px solid $black !important;
  border-radius: $border-radius;
  outline: none !important;
  &:visited {
    color: $white;
  }

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.disabled-btn {
  pointer-events: none;
  background-color: $white;
  color: $black;  
  outline: none !important;
  @include opacity(0.7);
}

/*
   Close button
   ========================================================================== */

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
  border: 0 solid transparent;
  color: $white;
}
