// TYPOGRAPHY ================================================
@font-face {
    font-family: 'gfs-artemisia_regular';
    src: url('../fonts/gfs-artemisia/gfsartemisia.eot');
    src: url('../fonts/gfs-artemisia/gfsartemisia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gfs-artemisia/gfsartemisia.woff2') format('woff2'),
         url('../fonts/gfs-artemisia/gfsartemisia.woff') format('woff'),
         url('../fonts/gfs-artemisia/gfsartemisia.ttf') format('truetype'),
         url('../fonts/gfs-artemisia/gfsartemisiasvg#gfs-artemisia_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gfs-artemisia_italic';
    src: url('../fonts/gfs-artemisia/gfsartemisia-italic.eot');
    src: url('../fonts/gfs-artemisia/gfsartemisia-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gfs-artemisia/gfsartemisia-italic.woff2') format('woff2'),
         url('../fonts/gfs-artemisia/gfsartemisia-italic.woff') format('woff'),
         url('../fonts/gfs-artemisia/gfsartemisia-italic.ttf') format('truetype'),
         url('../fonts/gfs-artemisia/gfsartemisia-italic.svg#gfs-artemisia_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gfs-artemisia_bolditalic';
    src: url('../fonts/gfs-artemisia/gfsartemisia-bolditalic.eot');
    src: url('../fonts/gfs-artemisia/gfsartemisia-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gfs-artemisia/gfsartemisia-bolditalic.woff2') format('woff2'),
         url('../fonts/gfs-artemisia/gfsartemisia-bolditalic.woff') format('woff'),
         url('../fonts/gfs-artemisia/gfsartemisia-bolditalic.ttf') format('truetype'),
         url('../fonts/gfs-artemisia/gfsartemisia-bolditalic.svg#gfs-artemisia_bolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zallman_capsregular';
    src: url('../fonts/eb-garamond-0016/zallmancaps-webfont.eot');
    src: url('../fonts/eb-garamond-0016/zallmancaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eb-garamond-0016/zallmancaps-webfont.woff2') format('woff2'),
         url('../fonts/eb-garamond-0016/zallmancaps-webfont.woff') format('woff'),
         url('../fonts/eb-garamond-0016/zallmancaps-webfont.ttf') format('truetype'),
         url('../fonts/eb-garamond-0016/zallmancaps-webfont.svg#zallman_capsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'truetypewriter_polyglottRg';
    src: url('../fonts/ttwpgott/ttwpgott.eot');
    src: url('../fonts/ttwpgott/ttwpgott.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttwpgott/ttwpgott.woff2') format('woff2'),
         url('../fonts/ttwpgott/ttwpgott.woff') format('woff'),
         url('../fonts/ttwpgott/ttwpgott.ttf') format('truetype'),
         url('../fonts/ttwpgott/ttwpgott.svg#truetypewriter_polyglottRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
