$leading: 1.5rem;
$zIndex-4: 400;
$zIndex-4--post-wrapper: $zIndex-4;
$zIndex-4--posts-wrapper: $zIndex-4;
$title-secondary-font: $alt-font;
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$font-XS: 1rem;
$font-S: 1.5rem;
$gray-lighter:          lighten(#000, 93.5%) !default; // #eee

// Blocks
.section--postsWrapper {
  width: 100%;
  background: $body-color;
  padding-top: 0;
  position: relative;
  clear: both;
  z-index: $zIndex-4--posts-wrapper;
}

.blockGroup {
  margin: 0;
  padding: 0;
}

.blockGroup-list {
  list-style: none;
  padding: 0;
  //margin-top: -3*$leading;
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  clear: both;

  li {
    padding: 0 10px;
  }

  .block, .simpleblock {
    display: block;
    width: 25%;
    margin-bottom: $leading;
    font-family: $title-secondary-font;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  li:nth-child(1).block {
    width: 100%;

    .postArticle-image {
      padding-top: 30%;

      @media (max-width: $screen-xs-max) {
        padding-top: 50%;
      }
    }

    .postArticle-title {
      font-size: $font-S;
    }
  }

  li:nth-child(2).block,
  li:nth-child(3).block {
    width: 50%;

    .postArticle-image {
      padding-top: 50%;
    }

    .postArticle-title {
      font-size: $font-S;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }

  li {
    .postArticle-title {
      font-size: $font-XS;
      line-height: 1.5;
    }
  }

  .postArticle-wrapper {
    position: relative;
    background: $white;
    width: 100%;
    padding-bottom: 2*$leading;
    border: 1px solid #fff;
    &:hover {
        -webkit-filter: drop-shadow(3px 3px 3px rgba(140,140,140,0.5));
        filter: drop-shadow(3px 3px 3px rgba(140,140,140,0.5));
        border: 1px solid #aaa;
    }
  }

  .postArticle a {
    color: $black;
    background: transparent;
  }

  .postArticle-title {
    display: block;
    margin-top: 0.2*$leading;
    font-weight: 300;
  }

  .postArticle-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 100%;
    -webkit-transition-property: all, left, top, width;
    -webkit-transition-duration: .5s, .1s, .1s, .1s;
    -webkit-transition-timing-function: cubic-bezier(.33,0,.2,1);
    -webkit-transition-delay: 0;
    -moz-transition-property: all, left, top, width;
    -moz-transition-duration: .5s, .1s, .1s, .1s;
    -moz-transition-timing-function: cubic-bezier(.33,0,.2,1);
    -moz-transition-delay: 0;
    -ms-transition-property: all, left, top, width;
    -ms-transition-duration: .5s, .1s, .1s, .1s;
    -ms-transition-timing-function: cubic-bezier(.33,0,.2,1);
    -ms-transition-delay: 0;
    -o-transition-property: all, left, top, width;
    -o-transition-duration: .5s, .1s, .1s, .1s;
    -o-transition-timing-function: cubic-bezier(.33,0,.2,1);
    -o-transition-delay: 0;
    transition-property: all, left, top, width;
    transition-duration: .5s, .1s, .1s, .1s;
    transition-timing-function: cubic-bezier(.33,0,.2,1);

    @media (max-width: $screen-xs-max) {
      padding-top: 50%;
    }
  }

  .block-postMeta {
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    color: #a1a1a1;
    font-size: 0.9rem;
  }

  .postArticle-title,
  .block-postMeta {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.desaturate {
  opacity: 0.8;
  -moz-filter: contrast(1.5) url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: contrast(1.5) url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: contrast(1.5) grayscale(100%);
  filter: gray;
  filter: contrast(1.5) url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.block:hover .desaturate, 
.simpleblock:hover .desaturate {
  filter: none;
  -webkit-filter: none;
}

// Sections
// Post content area
.section--last {
  position: relative;
  clear: both;
  padding: 1*$leading 0 4*$leading;
  background: $white;
}

.content-author {
  border-top: 1px solid $gray-lighter;
  margin-top: 2*$leading;
  padding-top: 1*$leading;
}

.content-comments {
  margin-top: 2*$leading;
}

//// Post footer area
.postFooter {
  text-align: center;
}

.section--prePost {
  width: 100%;
  top: 0;
  position: relative;
}

.section--prePost .section-title a {
  background: transparent;
  color: rgba($white, 0.9);

  &:hover {
    color: rgba($white, 1);
  }
}

.section--prePost .section-title h2 {
  margin: $leading auto 0;
  display: inline-block;
}

.section--prePost,
.section--prePost .section-backgroundImage {
  height: 11 * $leading;
}

.section--prePost .section-backgroundImage img {
  min-height: 11 * $leading;
  position: relative !important;
  top: 0;
}
