/* ==========================================================================
   Search
   ========================================================================== */

.search-wrapper {
  @include outer-container;
  margin-top: 0;
  padding-right: $gutter;
  padding-left: $gutter;
  height: 1px;
}

/*
   Google search form
   ========================================================================== */

#goog-fixurl {

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }
}

#goog-wm-qt {
  //width: auto;
  margin-right: 10px;
  //padding: 8px 10px;
  font-size: 1.25rem;
  //border-width: 2px;
  //border-radius: $border-radius;
}

/* button */
#goog-wm-sb {
  @extend .btn;
  margin-top: 10px;
  padding: 6px 15px;
  border: 1px solid $black !important;
  border-radius: 0;
}
