@import "font-face";

// TYPOGRAPHY ================================================
$base-font                : 'gfs-artemisia_regular', 'gfs-artemisia_italic', sans-serif;
$heading-font             : 'gfs-artemisia_italic', 'gfs-artemisia_regular', sans-serif;
$quote-font               : 'truetypewriter_polyglottRg', 'gfs-artemisia_bolditalic', 'gfs-artemisia_regular', cursive;
$alt-font                 : 'Philosopher', 'gfs-artemisia_regular', sans-serif;
$capital-font             : 'zallman_capsregular', 'gfs-artemisia_regular', sans-serif;
$code-font                : 'Slabo 27px', serif;
$imagecredit-font         : $heading-font;
$figcaption-font          : $base-font;

$doc-font-size            : 16;
$doc-line-height          : 24;

$border-radius            : 3px;
$main-menu-height         : 40px;

// set-up the body font-size / line-height
body {
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;
}


// COLORS =====================================================
$body-color               : #fff;
$text-color               : #000;
$base-color               : #343434;
$comp-color               : adjust-hue($base-color, 180);
$border-color             : #ddd;
$white                    : #fff;
$black                    : #000;
$accent-color             : $black;
$link-color               : #222;

$navigation-arrows-color  : #696969;
$navigation-bar-color     : #fbfbfb;

$table-border-color       : $border-color;
$table-border             : 1px solid $table-border-color;
$table-background         : $body-color;
$table-header-color       : lighten($table-background, 10);
$table-hover-color        : darken($table-background, 2);
$table-stripe-color       : darken($table-background, 4);
$table-stripe-color-hover : darken($table-stripe-color, 5);

$facebook-color           : #3b5998;
$flickr-color             : #ff0084;
$foursquare-color         : #0cbadf;
$google-plus-color        : #dd4b39;
$instagram-color          : #bc2a8d;
$linkedin-color           : #0077b5;
$pinterest-color          : #cb2027;
$rss-color                : #fa9b39;
$tumblr-color             : #35465c;
$twitter-color            : #00aced;
$vimeo-color              : #1ab7ea;
$youtube-color            : #bb0000;
$mixcloud-color           : #273a4b;
$soundcloud-color         : #ff3a00;
$lastfm-color             : #c3000c;
$github-color             : #000000;

// MEDIA QUERIES ==============================================
$micro                    : "only screen and (min-width: 30em)";
$small                    : "only screen and (min-width: 37.5em)";
$medium                   : "only screen and (min-width: 48em)";
$large                    : "only screen and (min-width: 62em)";
$x-large                  : "only screen and (min-width: 86.375em)";
