@import "font-face";

// TYPOGRAPHY ================================================
$base-font                : 'gfs-artemisia_regular', 'gfs-artemisia_italic', sans-serif;
$heading-font             : 'gfs-artemisia_italic', 'gfs-artemisia_regular', sans-serif;
$quote-font               : 'truetypewriter_polyglottRg', 'gfs-artemisia_bolditalic', 'gfs-artemisia_regular', cursive;
$alt-font                 : 'Philosopher', 'gfs-artemisia_regular', sans-serif;
$capital-font             : 'zallman_capsregular', 'gfs-artemisia_regular', sans-serif;
$code-font                : 'Inconsolata', monospace;
$central-quote-font       : 'Philosopher', 'gfs-artemisia_italic', 'gfs-artemisia_regular', sans-serif;
$imagecredit-font         : $heading-font;
$figcaption-font          : $base-font;

$doc-font-size            : 16;
$doc-line-height          : 24;

$border-radius            : 3px;
$main-menu-height         : 40px;

// set-up the body font-size / line-height
body {
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;
}


// COLORS =====================================================
$body-color               : #fff;
$text-color               : #000;
$base-color               : #343434;
$comp-color               : adjust-hue($base-color, 180);
$border-color             : #ddd;
$white                    : #fff;
$black                    : #000;
$accent-color             : $black;
$link-color               : #222;

$navigation-arrows-color  : #696969;
$navigation-bar-color     : #fbfbfb;

$table-border-color       : $border-color;
$table-border             : 1px solid $table-border-color;
$table-background         : $body-color;
$table-header-color       : lighten($table-background, 10);
$table-hover-color        : darken($table-background, 2);
$table-stripe-color       : darken($table-background, 8);
$table-stripe-color-hover : darken($table-stripe-color, 10);

$quote_background_color   : #fff;

/* YIQ color contrast */
$yiq-contrasted-dark-default    : #000 !default;
$yiq-contrasted-light-default   : #fff !default;
$yiq-contrasted-threshold       : 175 !default;
$yiq-debug                      : false !default;

/* Brands */
$behance-color            : #1769ff !default;
$bitbucket-color          : #205081 !default;
$dribbble-color           : #ea4c89 !default;
$facebook-color           : #3b5998 !default;
$flickr-color             : #ff0084 !default;
$foursquare-color         : #0072b1 !default;
$github-color             : #171516 !default;
$google-plus-color        : #dd4b39 !default;
$instagram-color          : #517fa4 !default;
$lastfm-color             : #d51007 !default;
$linkedin-color           : #007bb6 !default;
$mixcloud-color           : #273a4b !default;
$pinterest-color          : #cb2027 !default;
$reddit-color             : #ff4500 !default;
$rss-color                : #fa9b39 !default;
$soundcloud-color         : #ff3300 !default;
$stackoverflow-color      : #fe7a15 !default;
$tumblr-color             : #32506d !default;
$twitter-color            : #55acee !default;
$vimeo-color              : #1ab7ea !default;
$vine-color               : #00bf8f !default;
$youtube-color            : #bb0000 !default;
$xing-color               : #006567 !default;


$primary-color            : #000 !default;
$success-color            : #62c462 !default;
$warning-color            : #f89406 !default;
$danger-color             : #ee5f5b !default;
$info-color               : #52adc8 !default;

// MEDIA QUERIES ==============================================
$micro                    : "only screen and (min-width: 30em)";
$small                    : "only screen and (min-width: 37.5em)";
$medium                   : "only screen and (min-width: 48em)";
$large                    : "only screen and (min-width: 62em)";
$x-large                  : "only screen and (min-width: 86.375em)";

/* Fluid type */
$min-vw: 320px !default;
$max-vw: 1280px !default;